
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row row-header">
        <div class="col-xs-12">
            <a href="javascript:;" title="">
                <img src="~/Assets/dist/img/bugunun-maclari-logo.png" alt="" />
            </a>
        </div>
    </div>
    <div class="row row-menu">
        <div class="col-xs-12">
            <div class="menu cf">
                <ul class="menu-list">
                    <li class="menu-list-item">
                        <a href="javascript:;" title="">Futbol</a>
                    </li>
                    <li class="menu-list-item">
                        <a href="javascript:;" title="">Basketbol</a>
                    </li>
                    <li class="menu-list-item">
                        <a href="javascript:;" title="">Voleybol</a>
                    </li>
                    <li class="menu-list-item">
                        <a href="javascript:;" title="">Tenis</a>
                    </li>
                    <li class="menu-list-item">
                        <a href="javascript:;" title="">Hentbol</a>
                    </li>
                    <li class="menu-list-item">
                        <a href="javascript:;" title="">Yüzme</a>
                    </li>
                    <li class="menu-list-item">
                        <a href="javascript:;" title="">Boks</a>
                    </li>
                    <li class="menu-list-item">
                        <a href="javascript:;" title="">Bisiklet</a>
                    </li>
                    <li class="menu-list-item">
                        <a href="javascript:;" title="">Olimpiyat</a>
                    </li>
                    <li class="menu-list-item">
                        <a href="javascript:;" title="">Diğer</a>
                    </li>
                </ul>
                <div class="search">
                    <span class="search-trigger"><i class="fa fa-search"></i><i class="fa fa-close"></i></span>
                    <span class="search-input">
                        <input type="search" placeholder="maç ara..." class="input-text" alt="" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

