<div class="row row-header">
    <div class="col-xs-12">
        <a href="@Url.Action("Index","Home")" title="" class="logo">
            <img src="~/Assets/dist/img/bugunun-maclari-logo.png" alt="Bugünün Maçları" />
        </a>
        <span class="mobile-menu-trigger"><i class="fa fa-navicon"></i></span>
    </div>
</div>
