<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/Assets/dist/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Assets/dist/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Assets/dist/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Assets/dist/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Assets/dist/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Assets/dist/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Assets/dist/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Assets/dist/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Assets/dist/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Assets/dist/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Assets/dist/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Assets/dist/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Assets/dist/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Assets/dist/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Assets/dist/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/dist/js/zathura.js"></script>
    <link rel="stylesheet" href="~/Assets/dist/css/zathura.css" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7406272114715863",
            enable_page_level_ads: true
        });
    </script>
    <script type="text/javascript">
        var infolinks_pid = 2966570;
        var infolinks_wsid = 0;
    </script>
    <script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
</head>
<body>
    <!-- Admatic interstitial 320x480 Ad Code START -->
    <ins data-publisher="adm-pub-140059228868" data-ad-type="interstitial" class="adm-ads-area" data-ad-network="179323559554" data-ad-sid="206" data-ad-width="320" data-ad-height="480"></ins>
<!-- Admatic interstitial 320x480 Ad Code END -->
    <!-- Admatic interstitial 800x600 Ad Code START -->
    <ins data-publisher="adm-pub-140059228868" data-ad-type="interstitial" class="adm-ads-area" data-ad-network="179323559554" data-ad-sid="209" data-ad-width="800" data-ad-height="600"></ins>
<!-- Admatic interstitial 800x600 Ad Code END -->
<div class="container">

    @Html.Partial("_Header")

    @{ Html.RenderAction("Menu", "Common"); }
    
    <!-- Admatic masthead 970x250 Ad Code START -->
    <ins data-publisher="adm-pub-140059228868" data-ad-type="masthead" class="adm-ads-area" data-ad-network="179323559554" data-ad-sid="501" data-ad-width="970" data-ad-height="250"></ins>
    <!-- Admatic masthead 970x250 Ad Code END -->

    @RenderBody()
</div>
<!-- Admatic interstitial 320x480 Ad Code START -->
<ins data-publisher="adm-pub-140059228868" data-ad-type="interstitial" class="adm-ads-area" data-ad-network="179323559554" data-ad-sid="206" data-ad-width="320" data-ad-height="480"></ins>
<!-- Admatic interstitial 320x480 Ad Code END -->
<script src="//cdn2.admatic.com.tr/showad/showad.js" async></script>
</body>
</html>
