<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/dist/js/zathura.js"></script>
    <link rel="stylesheet" href="~/Assets/dist/css/zathura.css" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7406272114715863",
            enable_page_level_ads: true
        });
    </script>
    <script type="text/javascript">
        var infolinks_pid = 2966570;
        var infolinks_wsid = 0;
    </script>
    <script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
</head>
<body>
<div class="container">
    
    @Html.Partial("_Header")

    @{ Html.RenderAction("Menu", "Common"); }

    @RenderBody()
</div>
</body>
</html>
