<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/dist/js/zathura.js"></script>
    <link rel="stylesheet" href="~/Assets/dist/css/zathura.css" />
</head>
<body>
<div class="container">
    
    @Html.Partial("_Header")

    @{ Html.RenderAction("Menu", "Common"); }

    @RenderBody()
</div>
</body>
</html>
