@{
    var ratingTable = ViewBag.RatingTable as string;
}

@if (!string.IsNullOrEmpty(ratingTable))
{<div class="league-table">
    @Html.Raw(ratingTable)</div>
}

<script type="text/javascript">
    $(document).ready(function () {
        fillStandings();
        $(".leagueTableExpander").click(function () {
            $(".league-table table tbody tr").show();
            $(this).hide();
        });
        $(".league-table .leagueTableExpander span").html("Tümü");
    });

    function fillStandings() {
        $(".league-table table tbody").each(function () {
            var showCount = 6;
            var fixtureLenght = $(this).find("tr").length;
            for (i = 0; i < showCount ; i++) {
                $(this).find("tr").eq(i).show();
                $(this).find("tr").eq(i + (fixtureLenght - showCount)).show();
            }
        });
    }
</script>