@{
    var ratingTable = ViewBag.RatingTable as string;
}

@if (!string.IsNullOrEmpty(ratingTable))
{<div class="league-table">
    @Html.Raw(ratingTable)</div>
}
@*<div class="league-table">
    <div class="league-table-wrapper">
        <div class="box-title">
            <span>PUAN DURUMU</span>
        </div>
        <div class="league-title">
            <span>Süper Lig</span>
        </div>
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="">
            <thead>
            <tr>
                <th>SIRA</th>
                <th>TAKIM</th>
                <th>O</th>
                <th>AV</th>
                <th>P</th>
            </tr>
            </thead>
            <tbody>
            <tr style="display: table-row;">
                <td>
                    1<i class="fa fa-circle"></i>
                </td>
                <td><span class="team-name">Beşiktas</span></td>
                <td>23</td>
                <td>27</td>
                <td>53</td>
            </tr>
            <tr style="display: table-row;">
                <td>
                    2<i class="fa fa-circle"></i>
                </td>
                <td><span class="team-name">İstanbul Başakşehir FK</span></td>
                <td>23</td>
                <td>23</td>
                <td>49</td>
            </tr>
            <tr style="display: table-row;">
                <td>
                    3<i class="fa fa-circle"></i>
                </td>
                <td><span class="team-name">Galatasaray</span></td>
                <td>23</td>
                <td>19</td>
                <td>43</td>
            </tr>
            <tr style="display: table-row;">
                <td>
                    4<i class="fa fa-circle"></i>
                </td>
                <td><span class="team-name">Fenerbahçe</span></td>
                <td>23</td>
                <td>21</td>
                <td>41</td>
            </tr>
            <tr style="display: table-row;">
                <td>
                    5<i class="fa fa-caret-up"></i>
                </td>
                <td><span class="team-name">Trabzonspor</span></td>
                <td>23</td>
                <td>0</td>
                <td>35</td>
            </tr>
            <tr style="display: table-row;">
                <td>
                    6<i class="fa fa-caret-down"></i>
                </td>
                <td><span class="team-name">Antalyaspor</span></td>
                <td>23</td>
                <td>-2</td>
                <td>35</td>
            </tr>
            <tr>
                <td>
                    7<i class="fa fa-caret-up"></i>
                </td>
                <td><span class="team-name">Konyaspor</span></td>
                <td>23</td>
                <td>-1</td>
                <td>32</td>
            </tr>
            <tr>
                <td>
                    8<i class="fa fa-caret-up"></i>
                </td>
                <td><span class="team-name">Bursaspor</span></td>
                <td>23</td>
                <td>-5</td>
                <td>31</td>
            </tr>
            <tr>
                <td>
                    9<i class="fa fa-caret-down"></i>
                </td>
                <td><span class="team-name">Osmanlispor</span></td>
                <td>23</td>
                <td>3</td>
                <td>30</td>
            </tr>
            <tr>
                <td>
                    10<i class="fa fa-caret-down"></i>
                </td>
                <td><span class="team-name">K.Karabükspor</span></td>
                <td>23</td>
                <td>-5</td>
                <td>30</td>
            </tr>
            <tr>
                <td>
                    11<i class="fa fa-caret-down"></i>
                </td>
                <td><span class="team-name">Kasımpaşa</span></td>
                <td>23</td>
                <td>1</td>
                <td>29</td>
            </tr>
            <tr>
                <td>
                    12<i class="fa fa-caret-up"></i>
                </td>
                <td><span class="team-name">Gençlerbirliği</span></td>
                <td>22</td>
                <td>1</td>
                <td>29</td>
            </tr>
            <tr>
                <td>
                    13<i class="fa fa-caret-down"></i>
                </td>
                <td><span class="team-name">Akhisar Bld</span></td>
                <td>23</td>
                <td>-13</td>
                <td>27</td>
            </tr>
            <tr style="display: table-row;">
                <td>
                    14<i class="fa fa-caret-up"></i>
                </td>
                <td><span class="team-name">Kayserispor</span></td>
                <td>23</td>
                <td>-9</td>
                <td>26</td>
            </tr>
            <tr style="display: table-row;">
                <td>
                    15<i class="fa fa-caret-down"></i>
                </td>
                <td><span class="team-name">Alanyaspor</span></td>
                <td>23</td>
                <td>-9</td>
                <td>25</td>
            </tr>
            <tr style="display: table-row;">
                <td>
                    16 <i class="fa fa-circle"></i>
                </td>
                <td><span class="team-name">Rizespor</span></td>
                <td>23</td>
                <td>-15</td>
                <td>20</td>
            </tr>
            <tr style="display: table-row;">
                <td>
                    17<i class="fa fa-circle"></i>
                </td>
                <td><span class="team-name">Adanaspor</span></td>
                <td>23</td>
                <td>-17</td>
                <td>17</td>
            </tr>
            <tr style="display: table-row;">
                <td>
                    18<i class="fa fa-circle"></i>
                </td>
                <td><span class="team-name">Gaziantepspor</span></td>
                <td>22</td>
                <td>-19</td>
                <td>16</td>
            </tr>
            <tr style="display: table-row;">
                <td colspan="5">
                    <span class="leagueTableExpander"><span>Tümü</span></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>*@


<script type="text/javascript">
    $(document).ready(function () {
        fillStandings();
        $(".leagueTableExpander").click(function () {
            $(".league-table table tbody tr").show();
            $(this).hide();
        });
    });

    function fillStandings() {
        $(".league-table table tbody").each(function () {
            var showCount = 6;
            var fixtureLenght = $(this).find("tr").length;
            for (i = 0; i < showCount ; i++) {
                $(this).find("tr").eq(i).show();
                $(this).find("tr").eq(i + (fixtureLenght - showCount)).show();
            }
        });
    }
</script>