<div class="col-xs-12 col-md-4 col-sidebar">
    <div class="adv-content">
        <img src="~/Assets/dist/img/banner300.png" alt="" />
    </div>
    <!-- Admatic Scroll 300x250 Ad Code START -->
    <ins data-publisher="adm-pub-140059228868" data-ad-type="Scroll" class="adm-ads-area" data-ad-network="179323559554" data-ad-sid="304" data-ad-width="300" data-ad-height="250"></ins>
    <!-- Admatic Scroll 300x250 Ad Code END -->
    @{ Html.RenderAction("Rating", "Common"); }
</div>
