<div class="col-xs-12 col-md-4 col-sidebar">
    <div class="adv-content">
        <img src="~/Assets/dist/img/banner300.png" alt="" />
    </div>
    @{ Html.RenderAction("Rating", "Common"); }
</div>
