header {
    text-align: center;

    .container-fluid {
        background: $color-white;
        border-bottom: 1px solid $color-border;
        border-top: 1px solid $color-border;
        padding: 5px 0;

        @include media(web) {
            padding: 20px 0;
        }
    }

    .row-menu {
        position: relative;
    }

    .col-menu {
        position: static;
    }
}

.mini-menu {
    &-item {
        display: inline-block;
        padding: 5px;

        &-link {
            color: $color-dove-gray;
            font-size: 10px;

            @include media(web) {
                font-size: 12px;
                font-weight: $fw-bold;
            }
        }
    }

    @include media(web) {
        float: right;
    }
}

.main-menu {
    float: right;

    &-item {
        display: inline-block;
        padding: 0 5px;

        @include media(wide) {
            padding: 0 10px;
        }

        &-link {
            font-size: 16px;
            font-weight: $fw-black;
            line-height: 30px;
            padding: 0 5px;

            @include media(wide) {
                padding: 0 10px;
            }
        }
    }
}

.wide-menu {
    background: $color-white;
    box-shadow: $box-shadow;
    display:none;
    left: 0;
    min-height: 300px;
    position: absolute;
    top: 35px;
    width: 100%;
}




.search-box {
    background: $color-white;
    box-shadow: $box-shadow;
    margin-bottom: 25px;
    padding: 15px;

    @include media(tablet) {
        margin: 0;
    }

    @include media(web) {
        padding: 25px 30px;
    }

    &-title {
        border-bottom: 1px solid $color-border;
        font: $fw-bold 16px/20px $font2;
        padding-bottom: 15px;
        text-align: center;

        @include media(web) {
            line-height: 30px;
            padding-bottom: 25px;
        }
    }

    &-line {
        margin-top: 15px;
        padding: 0;

        @include media(web) {
            margin-top: 25px;
        }

        &-title {
            color: $color-dove-gray;
            display: block;
            font-weight: $fw-bold;
            line-height: 20px;
            margin-bottom: 5px;

            @include media(web) {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }

        &-element {
            select {
                background: $color-alabaster;
                border: 1px solid $color-border;
                border-radius: 3px;
                height: 38px;
                line-height: 28px;
                padding: 5px 10px;
                width: 100%;
            }
        }

        .find-button {
            background: $color-jungle-green;
            border: none;
            border-radius: 3px;
            color: $color-white;
            cursor: pointer;
            font-weight: $fw-black;
            height: 40px;
            letter-spacing: 1px;
            line-height: 30px;
            padding: 5px;
            text-align: center;
            width: 100%;

            @include media(web) {
                height: 50px;
                padding: 10px;
            }
        }
    }
}


.main-slider {
    background: #ccc;
    height: 50vw;

    @include media(tablet) {
        height: 100%;
    }

    .main-slide {
        &-item {
            height: 100%;

            img {
                height: 100%;
                width: 100%;
            }

            &.type2 {
                align-items: center;
                background: url(../img/pattern.png) repeat;
                ;
                background-attachment: fixed;
                background-position: center center;
                background-size: cover;
                display: flex;
                height: 100%;
                justify-content: center;
                padding: 0 20px;
                position: relative;

                @include media(web) {
                    padding: 0 30px;
                }

                img {
                    height: auto;
                    margin-right: 20px;
                    max-width: 40vw;
                    width: auto;
                }
            }
        }

        &-title {
            color: $color-white;
            font: $fw-medium 14px/18px $font2;

            @include media(tablet) {
                font-size: 18px;
                line-height: 24px;
            }

            @include media(web) {
                font-size: 24px;
                font-weight: $fw-bold;
                line-height: 36px;
            }
        }

        &-button {
            background: $color-double-spanish-white;
            border-radius: 3px;
            color: $color-oregon;
            font-weight: $fw-black;
            line-height: 26px;
            margin-top: 20px;
            max-width: 250px;
            padding: 10px;
            text-align: center;
        }
    }
}

.swiper-button {
    &-next, &-prev {
        background: rgba($color-black,.6);
        height: 44px;
        text-align: center;
        width: 44px;

        i {
            color: $color-gallery;
            font-size: 22px;
            line-height: 44px;
        }
    }

    &-next {
        right: 0;
    }

    &-prev {
        left: 0;
    }
}
