@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body{
    background:$color-gallery;
    font-family: 'Montserrat', Arial, sans-serif;
}
.row-header{
    padding:10px 0;
    @include media(web){
        padding:30px 0;
    }
    .logo{
        img{
            max-height:50px;
            @include media(web){
                max-height:inherit;
            }
        }
    }
    .mobile-menu-trigger{
        float:right;
        margin:5px 0;
        @include media(web){
            display:none;
        }
        i{
            font-size:30px;
            margin:5px;
        }
        &.opened{
            i{
                &:before{
                    content:"\f00d";
                }
            }
        }
    }
}
.row-menu{
    margin-bottom:20px;
    min-height:40px;
    @include media(web){
        margin-bottom:30px;
    }
}
.menu{
    background:$color-spor;
    @include vendor-prefix(border-radius,4px);
    position:relative;
}

.menu-wrapper{
    height:100%;
    left:0;
    position:fixed;
    top:0;
    width:1px;
    z-index:999;
    @include media(web){
        height:auto;
        left:inherit;
        position:relative;
        top:inherit;
        width:100%;
    }
}

.menu-list{
    background:$color-spor;
    left:-100vw;
    height:100%;
    position:relative;
    transition:left .5s;
    width:80vw;
    z-index:12;
    &.opened{
        left:0;
    }
    @include media(web){
        left:inherit;
        height:auto;
        width:auto;
    }
    &-item{
        width:100%;
        float:left;
        padding:5px 15px;
        @include media(web){
            padding:15px;
            width:auto;
        }
        &:first-child{
            @include media(web){
                display:none;
            }
            img{
                max-height:50px;
            }
        }
        a{
            border-bottom:2px solid transparent;
            color:$color-white;
            display:block;
            font-weight:700;
            line-height:24px;
            padding:3px 3px 1px;;
            &:hover{
                @include media(web){
                    border-bottom:2px solid $color-white;
                }
            }
        }
    }
}

.main-text{
    float:right;
    color:$color-white;
    font-size:16px;
    line-height:30px;
    padding:15px; 
}

.search{
    background:#ddd;
    float:right;
    position:absolute;
    right:0;
    top:0;
    width:100%;
    z-index:11;
    @include media(web){
        background:transparent;
    }
    &-trigger{
        background:$color-spor;
        cursor:pointer;
        display:block;
        float:right;
        height:32px;
        margin:4px;
        position:absolute;
        right:0;
        width:32px;
        z-index:9;
        @include media(web){
            background:transparent;
            margin:14px;
            position:relative;
        }
        i{
            color:$color-white;
            font-size:16px;
            margin:8px;
            &.fa-close{
                display:none;
            }
        }
    }
    &-input{
        float:left;
        width:100%;
        @include media(web){
            float:right;
            width:30%;
        }
        .input-text{
            border:0;
            @include vendor-prefix(box-sizing,border-box);
            float:right;
            font-size:20px;
            height:40px;
            margin:0;
            padding:0 30px;
            text-align:center;
            @include vendor-prefix(transtion,all .3s linear);
            visibility:visible;
            width:100%;
            @include media(web){
                @include vendor-prefix(border-radius,5px 0 0 5px);
                margin:10px 0;
                visibility:hidden;
                width:0;
            }
        }
    }
    &.opened{
        z-index:13;
        .search-trigger{
            i.fa-search{
                display:none;
            }
            i.fa-close{
                display:block;
            }
        }
        .search-input{
            .input-text{
                visibility:visible;
                width:100%;
            }
        }
    }
}

.row-head-match{
    margin-bottom:20px;
    @include media(web){
        background:$color-white;
        border:1px solid $color-mercury;
        @include vendor-prefix(border-radius,5px);
        margin:0 0 30px;
        overflow:hidden;
    }
    .head-match-image{
        @include media(web){
            padding:0;
        }
        .match-image{
            background-position:center center;
            background-repeat:no-repeat;
            background-size:cover;
            display:block;
            padding-bottom:50%;
            position:relative;
            width:100%;
            &:after{
                background: -moz-linear-gradient(top, rgba(76,76,76,0.4) 0%, rgba(89,89,89,0.4) 12%, rgba(102,102,102,0.4) 25%, rgba(71,71,71,0.4) 39%, rgba(44,44,44,0.4) 43%, rgba(0,0,0,0.4) 56%, rgba(17,17,17,0.4) 60%, rgba(43,43,43,0.4) 76%, rgba(28,28,28,0.4) 91%, rgba(19,19,19,0.4) 100%); 
                background: -webkit-linear-gradient(top, rgba(76,76,76,0.4) 0%,rgba(89,89,89,0.4) 12%,rgba(102,102,102,0.4) 25%,rgba(71,71,71,0.4) 39%,rgba(44,44,44,0.4) 43%,rgba(0,0,0,0.4) 56%,rgba(17,17,17,0.4) 60%,rgba(43,43,43,0.4) 76%,rgba(28,28,28,0.4) 91%,rgba(19,19,19,0.4) 100%); 
                background: linear-gradient(to bottom, rgba(76,76,76,0.4) 0%,rgba(89,89,89,0.4) 12%,rgba(102,102,102,0.4) 25%,rgba(71,71,71,0.4) 39%,rgba(44,44,44,0.4) 43%,rgba(0,0,0,0.4) 56%,rgba(17,17,17,0.4) 60%,rgba(43,43,43,0.4) 76%,rgba(28,28,28,0.4) 91%,rgba(19,19,19,0.4) 100%); 
                content:"";
                display:block;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#664c4c4c', endColorstr='#66131313',GradientType=0 ); 
                height:100%;
                left:0;
                position:absolute;
                top:0;
                width:100%;
            }
        }
    }
    .head-match-info{
        @include media(web){
            padding:0;
        }
        .match-info{
            background:$color-white;
            padding:20px 15px;
            &-channel{
                color:$color-dove-gray;
                font:700 14px/24px 'Montserrat';
                margin-bottom:10px;
                small{
                    background:$color-spor2;
                    @include vendor-prefix(border-radius,50%);
                    display:block;
                    float:left;
                    height:12px;
                    margin:6px 6px 6px 0;
                    width:12px;
                }
            }
            &-teams{
                color:$color-cod-gray;
                font:700 20px/24px 'Montserrat';
                margin-bottom:5px;
            }
            &-place, &-date{
                color:$color-dove-gray;
                font:400 14px/22px 'Montserrat';
            }
        }
    }
}

.row-content{
    margin-bottom:20px;
    @include media(web){
        margin-bottom:30px;
    }
}

.match-list{
    &-item{
        background:$color-white;
        display:block;
        float:left;
        margin-bottom:3px;
        min-height:70px;
        padding:15px;
        position:relative;
        width:100%;
        &-time{
            background:$color-spor3;
            height:40px;
            font-size:20px;
            font-weight:700;
            left:15px;
            line-height:40px;
            position:absolute;
            text-align:center;
            top:15px;
            width:70px;
        }
        &-info{
            padding-left:85px;
        }
        &-name{
            color:$color-cod-gray;
            display:block;
            font:400 16px/20px 'Montserrat';
            margin-bottom:5px;
            @include media(web){
                font-size:20px;
                line-height:24px;
                margin:0;
            }
        }
        &-channel{
            color:$color-spor;
            display:block;
            font:500 14px/18px 'Montserrat';
            @include media(web){
                font-size:16px;
                line-height:22px;
            }
        }
    }
}

.adv-content{
    background:$color-white;
    border:1px solid $color-mercury;
    margin-bottom:30px;
    padding:9px 4px;
    text-align:center;
    img{
        display:block;
        margin:0 auto;
    }
}

.league-table {
  background:$color-sugar-cane;
  border: 1px solid $color-silver;
  margin-bottom: 20px;
  padding: 14px;
  position: relative;

  &-wrapper {
    position: relative;
  }

  .box-title {
    margin-bottom: 15px;
    position: relative;

    span {
      background: $color-sugar-cane;
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      padding-right: 10px;
      position: relative;
      z-index: 1;
    }

    &:after {
      background:$color-spor;
      content: "";
      height: 8px;
      left: 0;
      position: absolute;
      top: 5px;
      width: 100%;
    }
  }

  .league-title {
    color: $color-dusty-gray;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 15px;
  }

  table {
    thead {
      border-bottom: 2px solid $color-silver;

      tr {
        th {
          color: $color-dusty-gray;
          font: 400 12px/15px "Montserrat";
          padding-bottom: 3px;
          text-align: center;
          width: 9%;

          &:nth-child(5n+1) {
            padding-right: 2%;
            width: 15%;
          }

          &:nth-child(5n+2) {
            padding-left: 0;
            text-align: left;
            width: 61%;
          }
        }
      }
    }

    tbody {
      tr {
        border-top: 1px solid $color-silver;
        display: none;

        td {
          color: $color-dusty-gray;
          font-size: 14px;
          line-height: 16px;
          max-height: 30px;
          padding: 6px 0;
          position: relative;
          text-align: center;
          width: 9%;

          &:nth-child(5n+1) {
            width: 17%;
            .hint {
              background: $color-white;
              @include vendor-prefix(border-radius,8px);
              box-shadow: 0 2px 4px 0 $color-silver;
              display: none;
              height: 70px;
              left: -4px;
              overflow: inherit;
              padding: 15px 10px;
              position: absolute;
              text-align: center;
              top: 31px;
              width: 98px;
              z-index: 9;

              &:before {
                border-bottom: 8px solid $color-wildsand;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                content: "";
                display: block;
                height: 0;
                left: 9px;
                position: absolute;
                top: -8px;
                width: 0;
              }

              .text {
                color: $color-dusty-gray;
                display: block;
                font-size: 12px;
                height: 14px;
                line-height: 14px;
                margin-bottom: 8px;
              }

              .value {
                text-align: center;

                small {
                  font: 400 16px/18px "Montserrat";
                }

                i {
                  float: none;
                  margin: 0;
                }
              }
            }

            @include media(web) {
              &:hover {
                .hint {
                  display: block;
                }
              }
            }
          }

          &:nth-child(5n+2) {
            color: $color-black;
            padding-left: 0;
            position: relative;
            text-align: left;
            width: 61%;

          }

          &:last-child {
            border-top: none;
          }

          .fa {
            float: right;
            font-size: 18px;
            line-height: 17px;
            margin-right: 10px;
          }

          .fa-caret-up {
            color: $color-spor;
          }

          .fa-caret-down {
            color: $color-torch-red;
          }

          .fa-stop {
            color: $color-biloba-flower;
            font-size: 12px;
            margin-right: 11px;
            &:before{
                content:"\f111";
            }
          }

          .team-name {
            display: -webkit-box;
            display: -moz-box;
            height: 18px;
            line-height: 18px;
            overflow: hidden;
            -moz-box-orient: vertical;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
        }

        &:first-child {
          border: none;
        }
      }
    }

    &.showAllTeams {
      .leagueTableExpander {
        display: none;
      }

      tbody {
        tr {
          display: table-row !important;
        }
      }
    }
  }

  .leagueTableExpander {
    background: $color-sugar-cane;
    bottom: 167px;
    cursor: pointer;
    height: 31px;
    left: 0;
    position: absolute;
    width: 100%;

    &:before {
      background:$color-silver;
      content: "";
      height: 100%;
      left: 0;
      opacity: .2;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 5;
    }

    span {
      color: $color-spor;
      font: 700 14px/30px "Montserrat";
      height: 100%;
      left: 0;
      max-width: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 6;
    }

    @include browser(firefox) {
      bottom: 187px;
    }
  }

  .league-table-link {
      display:none;
    float: right;
    font: 700 14px/18px "Montserrat";
    text-shadow: 0 0 1px $color-white;
  }
}

footer{
    background:$color-wildsand;
    border-top:1px solid $color-spor;
    padding:20px 15px;
}