//--Color Palette-----------------------------
$color-black            : #000;
$color-gallery          : #f0f0f0;
$color-jade             : #00b551;
$color-silver           : #ccc;
$color-white            : #fff;

//--Standart Colors---------------------------


//--Units & Rulers----------------------------

$color-spor     : $color-jade;
$web-margin    : 30px;
$tablet-margin : 30px;
$mobile-margin : 15px;
