//--Color Palette-----------------------------
$color-black            : #000;
$color-blue-ribbon      : #0a6de6;
$color-carmine          : #980020;
$color-cinnabar         : #e74c3c;
$color-cod-gray         : #151515;
$color-corn             : #e6c10a;
$color-dove-gray        : #666;
$color-dusty-gray       : #999;
$color-gallery          : #f0f0f0;
$color-jade             : #00b551;
$color-japanese-laurel  : #279800;
$color-mercury          : #e5e5e5;
$color-silver           : #ccc;
$color-supernova        : #ffc600;
$color-white            : #fff;
$color-wildsand         : #f4f4f4;

//--Standart Colors---------------------------


//--Units & Rulers----------------------------

$color-spor     : $color-jade;
$color-spor2    : $color-cinnabar;
$color-spor3    : $color-supernova;
$web-margin    : 30px;
$tablet-margin : 30px;
$mobile-margin : 15px;
